/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #baa2a2;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.trans {
    background-color: #c83763;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    /* Add shadow only on the right side */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    position: relative; /* Position the form relative */
}

h1 {
    text-align: center;
    color: #020202;
    text-transform: uppercase;
    transition: transform 0.2s ease, color 0.2s ease, letter-spacing 0.2s ease; /* Added transition */
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #070707;
    text-align: center;
    transition: transform 0.2s ease, color 0.2s ease, letter-spacing 0.2s ease; /* Added transition */
}

/* Hover effects */
h1:hover,
p:hover {
    transform: scale(1.05); /* Increase size slightly */
    color: #000000; /* Change color */
    letter-spacing: 1px; /* Increase letter-spacing */
}
.trans:hover {
    transform: scale(1.10); /* Increase size slightly */
    color: #f58989; /* Change color */
    letter-spacing: 1px; /* Increase letter-spacing */
}