{% extends 'blog_base.html' %}

{% block title %}
    DevBlogs | New blog
{% endblock %}

{% block navbar_links %}
<ul class="navbar-nav ml-auto">
    <li class="nav-item"><span class="nav-link">{{ g.user['username'] }}</span></li>
    <li class="nav-item"><a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a></li>
</ul>
{% endblock %}

{% block body %}

{% if g.user %}
    {% for type, msg in get_flashed_messages(with_categories=True) %}
        <div class="flash-{{type}}">{{ msg }}</div>
    {% endfor %}
    <div class="container mt-5">
        <div class="jumbotron" style="position: relative;">
            <button type="submit" class="btn btn-primary action"
                    style="position: absolute; top:15px; right: 20px;" form="blog-form"
            >
                Save
            </button>
            <form action="{{ url_for('blog.create') }}" id="blog-form" method="post">
                <div class="form-group">
                    <label for="title">Blog title</label>
                    <input type="text" name="title" class="form-control" id="title" value="{{request.form['title']}}">
                </div>
                <div class="form-group">
                    <label for="body">Write your eloquent blog below</label>
                    <textarea name="body" class="form-control" id="body" rows="10">{{request.form['body']}}</textarea>
                </div>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}
