<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/translated_summary.css') }}">
    <title>AI Language Translated</title>
    <!-- Add any additional styles or scripts here -->
</head>
<body>
    
    <div class="trans"><p>{{ translated_text }}</p></div>

    <!-- Display any additional information or messages here -->

</body>
</html>
